---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="プライバシーポリシー"
	description="当サイトのプライバシーポリシー"
	pubDate={new Date()}
>
	<h2>1. 個人情報の利用目的</h2>
	<p>当サイトでは、お問い合わせの際に名前やメールアドレス等の個人情報をご入力いただく場合がございます。<br>取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。</p>

	<h2>2. 広告について</h2>
	<p>当サイトは、Google等の第三者配信の広告サービス（Google AdSense等）を利用しており、第三者配信事業者や広告ネットワークの配信する広告が掲載されます。<br>この広告配信にはCookieを使用し、当プラットフォームを含めた過去のアクセス情報に基づいて広告を配信します。GoogleによるCookieの利用は、<a href="https://policies.google.com/technologies/ads?gl=jp" target="_blank" rel="noopener noreferrer">Googleの広告およびコンテンツネットワークに関するポリシー</a>から無効にすることができます。</p>

	<h2>3. アクセス解析ツールについて</h2>
	<p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>

	<h2>4. 免責事項</h2>
	<p>当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br>また当サイトのコンテンツや情報について、できる限り正確な情報を提供するように務めておりますが、人工知能ツールによる自動生成を用いたコンテンツも含まれるため、情報が古くなっている場合や誤りが含まれる可能性もあります。当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
</Layout>
